<div class = "base">
  <div class="answer">
    <div class="input">{{ inputString }}</div>
    {{ answer }}
  </div>
  
  <div class="keypad">
    <table style="width: 100%;">
      <tr>
        <td class="ackey" colspan="2" (click)="allClear()">AC</td>
        <td class="ackey" colspan="1" (click)="clear()">C</td>
        <td class="opkey" colspan="1" (click)="pressKey('/')">/</td>

      </tr>
      <tr>
        <td class="numkey" (click)="pressKey('7')">7</td>  
        <td class="numkey" (click)="pressKey('8')">8</td>
        <td class="numkey" (click)="pressKey('9')">9</td>  
        <td class="opkey" (click)="pressKey('*')">*</td>
      </tr>
      <tr>
        <td class="numkey" (click)="pressKey('4')">4</td>  
        <td class="numkey" (click)="pressKey('5')">5</td>
        <td class="numkey" (click)="pressKey('6')">6</td>  
        <td class="opkey" (click)="pressKey('-')">-</td>
      </tr>
      <tr>
        <td class="numkey" (click)="pressKey('3')">3</td>  
        <td class="numkey" (click)="pressKey('2')">2</td>
        <td class="numkey" (click)="pressKey('1')">1</td>  
        <td class="opkey" (click)="pressKey('+')">+</td>
      </tr>
      <tr>
        <td colspan="2" class="numkey" (click)="pressKey('0')">0</td>
        <td class="numkey" (click)="pressKey('.')">.</td>  
        <td class="equalkey" (click)="getAnswer()">=</td>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
